* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

body {
    background-color: antiquewhite;
    background-image: url("https://images.unsplash.com/photo-1676839560118-62496323f793?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80");

    /* background-image: url("https://images.unsplash.com/photo-1678156704472-4fd68f7fdfd6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80"); */
    background-size: cover;
    background-position: center;
 
}

nav {
    font-family: 'Poppins', sans-serif;
    color: white;



}

.brand img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;

}

.brand span {
    position: relative;
    bottom: 10px;
    font-size: 1.5rem;

}

nav ul {
    display: flex;
    list-style-type: none;
    height: 10vh;
    background-color: #2d2f31;
    align-items: center;
    justify-content: space;
    padding: 10px;
}

nav ul li {
    margin-right: 40px;
}

.container {
    position: relative;
    left: 15vw;
    height: 70vh;
    font-family: 'Poppins', sans-serif;
    color:black;
    margin: 24px 4px;
    background-color: rgba(110, 107, 107, 0.796);
    width: 70vw;
    border-radius: 12px;
    padding: 20px;
    box-shadow: #c8c5c1 0px 1px 25px;
}




.container h2 {
    font-weight: 400;
}

.bottom {
    position: sticky;
    height: 15vh;
    background-color: #2d2f31;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    font-size: 4vh;

}

.icon {
    margin-top: 12px;
}

.icon i {
    cursor: pointer;
}

#myProgressBar {
    width: 100vh;
    cursor: pointer;
}

.songitem{
    height: 50px;
    display: flex;
    width: 50%;
    margin: 12px 0;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 10px;
    

}

.songitem img{
    width: 50px;
    height: 50px;
    margin: 20px;
    border-radius: 20px;
}

.timestamp i{
    cursor: pointer;
}

.songinfo{
    position: absolute;
    top: 4vh;
    left: 18vw;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;

    

}

.songinfo img{
    opacity: 0;
    transition: opacity 0.2s ease-in;
    width: 70px;
    margin-left: 5px;
}
.songinfo span{
    font-size: small;
    font-weight: 200;
}

.songbanner{
    position: absolute;
    width: 20vw;
    height: 56vh;
    background-color: white;
    top: 10vh;
    right: 5vw;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.songbanner img{
    width: 24vh;
}

#gif2{
    opacity: 0;
}